# Big Mart Sales Prediction
The data scientists at BigMart have collected 2013 sales data for 1559 products across 10 stores in different cities. Also, certain attributes of each product and store have been defined. The aim is to build a predictive model and predict the sales of each product at a particular outlet.

Using this model, BigMart will try to understand the properties of products and outlets which play a key role in increasing sales.

Please note that the data may have missing values as some stores might not report all the data due to technical glitches. Hence, it will be required to treat them accordingly. 

https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/#ProblemStatementData

In [11]:
# importing required libraries
!pip install --upgrade category_encoders
import pandas as pd
from sklearn.compose import ColumnTransformer 
from sklearn.impute import SimpleImputer
#import category_encoders as ce
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline

# read the training data set
data = pd.read_csv('train_v9rqX0R.csv')

# top rows of the data
data.head()

# seperate the independent and target variables
train_x = data.drop(columns=['Item_Outlet_Sales'])
train_y = data['Item_Outlet_Sales']


# import the BaseEstimator
from sklearn.base import BaseEstimator

# define the class OutletTypeEncoder
# This will be our custom transformer that will create 3 new binary columns
# custom transformer must have methods fit and transform

class OutletTypeEncoder(BaseEstimator):

    def __init__(self):
        pass

    def fit(self, documents, y=None):
        return self

    def transform(self, x_dataset):
        x_dataset['outlet_grocery_store'] = (x_dataset['Outlet_Type'] == 'Grocery Store')*1
        x_dataset['outlet_supermarket_3'] = (x_dataset['Outlet_Type'] == 'Supermarket Type3')*1
        x_dataset['outlet_identifier_OUT027'] = (x_dataset['Outlet_Identifier'] == 'OUT027')*1
        
        return x_dataset

# pre-processsing step
# Drop the columns - 
# Impute the missing values in column Item_Weight by mean
# Scale the data in the column Item_MRP
pre_process = ColumnTransformer(remainder='passthrough',
                                transformers=[('drop_columns', 'drop', ['Item_Identifier',
                                                                        'Outlet_Identifier',
                                                                        'Item_Fat_Content',
                                                                        'Item_Type',
                                                                        'Outlet_Identifier',
                                                                        'Outlet_Size',
                                                                        'Outlet_Location_Type',
                                                                        'Outlet_Type'
                                                                       ]),
                                              ('impute_item_weight', SimpleImputer(strategy='mean'), ['Item_Weight']),
                                              ('scale_data', StandardScaler(),['Item_MRP'])])

# Define the Pipeline
"""
Step1: get the oultet binary columns
Step2: pre processing
Step3: Train a Random Forest Model
"""
print('\n\nBuilding Pipeline\n\n')
model_pipeline = Pipeline(steps=[('get_outlet_binary_columns', OutletTypeEncoder()), 
                                 ('pre_processing',pre_process),
                                 ('random_forest', RandomForestRegressor(max_depth=10,random_state=2))
                                 ])
# fit the pipeline with the training data
print('Fitting the pipeline with the training data')
model_pipeline.fit(train_x,train_y)

# predict target values on the training data
print('\n\nPredict target on the train data\n\n')
print(model_pipeline.predict(train_x))

print('Reading the test data: ')
# read the test data
test_data = pd.read_csv('test_AbJTz2l.csv')

# predict target variables on the test data 
print('\n\nPredict on the test data\n\n')
print(model_pipeline.predict(test_data))
pred = model_pipeline.predict(test_data)

Requirement already up-to-date: category_encoders in c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages (2.2.2)
Requirement already satisfied, skipping upgrade: statsmodels>=0.9.0 in c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages (from category_encoders) (0.9.0)
Requirement already satisfied, skipping upgrade: pandas>=0.21.1 in c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages (from category_encoders) (1.0.4)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.0 in c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages (from category_encoders) (0.23.2)
Requirement already satisfied, skipping upgrade: numpy>=1.14.0 in c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages (from category_encoders) (1.16.6)
Requirement already satisfied, skipping upgrade: scipy>=1.0.0 in c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages (from category_encoders) (1.2.0)
Requirement already satisfied, skipping upgrade: patsy>=0.5.1 in c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.21.1->category_encoders) (2019.3)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (0.16.0)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied, skipping upgrade: six in c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.12.0)


Building Pipeline


Fitting the pipeline with the training data

WARNING: You are using pip version 20.2.2; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\asha.ponnada\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

Predict target on the train data


[4348.01437159  693.40276088 2323.35268531 ... 1300.83665376 1508.86795688
 1152.35475793]
Reading the test data:


Predict on the test data


[1646.0548363  1305.4298012   649.26184297 ... 1848.60226305 3959.67937864
 1384.01466986]

In [10]:
test_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,outlet_grocery_store,outlet_supermarket_3,outlet_identifier_OUT027
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,0,0,0
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1,0,0,0
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store,1,0,0
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1,0,0,0
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3,0,1,1

In [13]:
pred

array([1646.0548363 , 1305.4298012 ,  649.26184297, ..., 1848.60226305,
       3959.67937864, 1384.01466986])

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,outlet_grocery_store,outlet_supermarket_3,outlet_identifier_OUT027
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,0,0,0
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1,0,0,0
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store,1,0,0
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1,0,0,0
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1,0,0,0
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2,0,0,0
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1,0,0,0
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1,0,0,0
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1,0,0,0

In [21]:
sample_rf = test_data[['Item_Identifier','Outlet_Identifier']]
sample_rf ['Item_Outlet_Sales'] = pred

c:\users\asha.ponnada\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
sample_rf .head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1646.054836
1           FDW14            OUT017        1305.429801
2           NCN55            OUT010         649.261843
3           FDQ58            OUT017        2329.787295
4           FDY38            OUT027        5929.857776

In [24]:
sample_rf.to_csv('samplerf.csv')

In [9]:
sample_data = pd.read_csv("sample_submission_8RXa3c6.csv")
sample_data.head()
#Item_Identifier   Outlet_Identifier   Item_Outlet_Sales

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049               1000
1           FDW14            OUT017               1000
2           NCN55            OUT010               1000
3           FDQ58            OUT017               1000
4           FDY38            OUT027               1000